openml~=0.12.2
pandas~=1.4.1
numpy~=1.22.3
requests~=2.27.1
scipy~=1.8.0
scikit-learn~=1.0.2
tabulate~=0.8.9
python-sat[pblib,aiger]~=0.1.7.dev16
python-Levenshtein~=0.12.2
seaborn~=0.11.2
deslib~=0.3.5
